<div class="footer">
  <div class="container">
    <div class="col-md-4 footer-top">
      <h3><%= t "quick_contact" %></h3>
    </div>
    <%= render "layouts/rate" %>
    <div class="col-md-4 footer-bottom">
      <h3><%= t "touch" %></p></h3>
      <div class="indo">
        <ul class="social-footer">
          <li><span><i class="glyphicon glyphicon-earphone"></i><%= t "phone" %></span></li>
          <li><span><i class="glyphicon glyphicon-envelope" class="mes"></i><%= t "email" %></span></li>
            <div class="clearfix"></div>
            <p class="footer-class"></p>
        </ul>
      </div>
    </div>


