 <div class="col-md-4 footer-middle">
      <h3><%= t "top-rate" %></h3>
        <div class="product-go">
          <div class="grid-product">
            <h6><%= link_to t("f_title"), "#" %></h6>
              <div class="rating">
                <span>☆</span>
                <span>☆</span>
                <span>☆</span>
                <span>☆</span>
                <span>☆</span>
              </div>
                <span class="price-in"><small></small><%= t "price" %></span>
          </div>
          <div class="fashion">
            <%= image_tag "pi8.jpg", alt: "", class: "img-responsive" %><p><%= t "sale" %></a>
          </div>
            <div class="clearfix"></div>
        </div>
      </div>


